<div class="text-center" style="justify-content: center">
  <div class="navbar navbar-expand-lg bg-primary" style="margin-top: -90px; align-content: center">
    <div class="navbar-brand" style="align-content: center; padding-left: 10%">Редактирование <%= resource_name.to_s.humanize %></div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <center> <label for="email">Email</label></center>
      <center><%= f.email_field :email, autofocus: true, autocomplete: "email" %></center>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>В настоящее время жду подтверждения for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <br/>
    <div class="field">
      <center> <label for="password">Новый пароль</label></center>
      <center> <%= f.password_field :password, autocomplete: "new-password" %> </center>
      <i>(Оставте пусты, если не хотите менять пароль)</i><br/>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> символов минимум</em>
      <% end %>
    </div>
    <br/>
    <div class="field">
      <center> <label for="password_confirmation">Повторите пароль</label></center>
      <center><%= f.password_field :password_confirmation, autocomplete: "new-password" %></center>
    </div>
    <br/>
    <div class="field">
      <center> <label for="current_password">Текущий пароль</label></center>
      <center/><%= f.password_field :current_password, autocomplete: "current-password" %></center>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary", data: { turbolinks: false } %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>

  <%= link_to "Back", :back, data: { turbolinks: false } %>
</div>
