<div class="section text-center" id='event_new'>
  <h2>Создать мероприятие</h2>
  <%= form_with model: @event do |f| %>
    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
        <img id="new-image" src="/assets/default_event.jpg" alt="..." width="200" height="200" style="border-radius: 6px"/>
      <div>
      <span class="btn btn-raised btn-round btn-default btn-file">
        <%= f.file_field :image, id: "gallery-photo-add", multiple: true, autocomplete: @event.images.first %>
      </span>
      </div>
      <br/>
      <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
      <br/>
    </div>
    <div class='container' align="center">
      <div class="col-4">
        <h4>Название</h4>
        <br/>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <br/>
      <div class="container" align="center">
        <h4>Выберите место мероприятия и организации</h4>
        <div class="row">
          <div class="col-3"></div>
          <div class='col-3'>
            <%= react_component("events/select_place", {map: @places, name: 'Place', id: 'place', currentElement: @event.place_id, selector: '#event_place_id'}) %>
            <%= f.hidden_field :place_id, value: '' %>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <%= react_component("users/select", {map: @organizations, name: 'Organization', id: 'organization', currentElements: @event.organization_ids, selector: '#event_organizations'}) %>
            <%= f.hidden_field :organizations, value: '' %>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <h4>Выберите время</h4>
      <div class="row">
        <div class='col-2'></div>
        <div class="col-4">
          Начало<br/>
          <%= react_component('shared/datepicker', {date_time: @event.start_time, selector: '#event_start_time'}) %>
          <%= f.hidden_field :start_time, value: '' %>
        </div>
        <div class="col-4">
          Конец<br/>
          <%= react_component('shared/datepicker', {date_time: @event.end_time, selector: '#event_end_time'}) %>
          <%= f.hidden_field :end_time, value: '' %>
        </div>
        <div class='col-2'></div>
      </div>
      <br/>
      <div class="col-8">
        <h4>Описание</h4>
        <br/>
        <%= f.text_area :description,  class: "form-control", rows: '12' %>
      </div>
      <br/>
      <%= f.hidden_field :id, value: @event.id %>
      <%= f.submit "Создать", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        $('#new-image').attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>