<%= javascript_pack_tag 'application' %>
<div class="section text-center">
  <%= form_with model: @organization do |f| %>
    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
      <div class="gallery">
        <% @organization.images.each do |image| %>
          <img id="new-image" src="<%= image.url %>" alt="..." width="200" height="200" style="border-radius: 6px"/>
        <% end %>
      </div>
    <div>
      <span class="btn btn-raised btn-round btn-default btn-file">
        <%= f.file_field :image, multiple: true, id: "gallery-photo-add", autocomplete: @organization.images.first %>
      </span>
    </div>
      <br/>
      <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
      <br/>
    </div>
    <div class='container'>
      <%= f.text_field :name, class: "form-control" %>
      <br/>
      <%= f.text_area :description,  class: "form-control", rows: '5' %>
    </div>
    <%= f.hidden_field :id, value: @organization.id %>
    <div class="container">
      <div class='row'>
        <div class='col'>
          <%= react_component("users/select_user", {map: @users, name: 'User', id: 'user', currentElements: @organization.user_ids, selector: '#organization_users'}) %>
          <br/>
          <%= f.hidden_field :users, value: '' %>
        </div>
      </div>
    </div>
    <%= f.submit "Обновить", class: "btn btn-primary" %>
  <% end %>
</div>
<script>
  $(function() {
  var imagesPreview = function(input, placeToInsertImagePreview) {
    if (input.files) {
      var filesAmount = input.files.length;
      for (i = 0; i < filesAmount; i++) {
        var reader = new FileReader();
        reader.onload = function(event) {
            $($.parseHTML('<img width="200" height="200" style="border-radius: 6px">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
        }
        reader.readAsDataURL(input.files[i]);
      }
    }
  };
  $('#gallery-photo-add').on('change', function() {
      imagesPreview(this, 'div.gallery');
  });
});
</script>

