<%= javascript_pack_tag 'application' %>
<div class="navbar navbar-expand-lg bg-primary" style="margin-top: -80px; align-content: center">
  <div class="navbar-brand" style="align-content: center; padding-left: 10%">Редактирование организации</div>
</div>

<div class="section" id='organization_edit'>
  <%= form_with model: @organization do |f| %>
    <%= react_component("shared/title", {content: 'Галерея:'}) %>
    <div class="fileinput fileinput-new text-center" data-provides="fileinput" style="margin-top: 20px">
      <div class="row">
        <% @organization.images.each do |image| %>
          <div class="col-3">
            <img id="<%= image.id %>" src="<%= image.url %>" alt="..." width="200" height="200" style="border-radius: 6px"/>
            <span class='btn btn-default' id='deleteImage_<%= image.id %>'>Удалить</span>
          </div>
        <% end %>
      </div>
      <div class="gallery">
      </div>
      <div>
      <span class="btn btn-raised btn-round btn-default btn-file">
        <%= f.file_field :image, multiple: true, id: "gallery-photo-add", autocomplete: @organization.images.first %>
      </span>
      </div>
      <br/>
      <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
      <br/>
    </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :name, class: "form-control" %>
          <br/>
        </div>
        <div class="col">
          <div style="margin-top: -13px;"><%= react_component("users/select_user", {map: @users, name: 'Пригласить', id: 'new_user', currentElements: [], selector: '#organization_new_users'}) %></div>
          <%= f.hidden_field :new_users, value: '' %>
        </div>
      </div>
    <br/>
    <%= f.text_area :description, class: "form-control", rows: '5' %>
    </div>
    <%= f.hidden_field :id, value: @organization.id %>

    <div class="text-left"><%= f.submit "Обновить", class: "btn btn-primary"%></div>
    <%= f.hidden_field :delete_img, value: '' %>
  <% end %>

  <%= form_for @organization, url: {action: :leave} do |f| %>
    <div class="text-right" style="margin-top: -51px"><%= f.submit "Покинуть организацию", class: 'btn btn-danger' %></div>
  <% end %>
  </div>
