<%= javascript_pack_tag 'application' %>
<div class="section text-center" id='organization_edit'>
  <%= form_with model: @organization do |f| %>
    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
      <h1>Галлерея</h1>
      <div class="row">
         <% @organization.images.each do |image| %>
          <div class="col-3">
            <img id="<%= image.id%>" src="<%= image.url %>" alt="..." width="200" height="200" style="border-radius: 6px"/>
            <span class='btn btn-default' id='deleteImage_<%= image.id%>'>Удалить</span>
          </div>
        <% end %>
      </div>
      <h1>Новые фотографии</h1>
      <div class="gallery">
      </div>
    <div>
      <span class="btn btn-raised btn-round btn-default btn-file">
        <%= f.file_field :image, multiple: true, id: "gallery-photo-add", autocomplete: @organization.images.first %>
      </span>
    </div>
      <br/>
      <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
      <br/>
    </div>
    <div class='container'>
      <%= f.text_field :name, class: "form-control" %>
      <br/>
      <%= f.text_area :description,  class: "form-control", rows: '5' %>
    </div>
    <%= f.hidden_field :id, value: @organization.id %>
    <div class="container">
      <div class='row'>
        <div class='col'>
          <%= react_component("users/select_user", {map: @users, name: 'Пригласить', id: 'new_user', currentElements: [], selector: '#organization_new_users'}) %>
          <br/>
          <%= f.hidden_field :new_users, value: '' %>
        </div>
      </div>
    </div>
    <%= f.submit "Обновить", class: "btn btn-primary" %>
    <%= f.hidden_field :delete_img, value: ''%>
  <% end %>
  <%= form_for @organization, url: { action: :leave } do |f| %>
    <%= f.submit "Покинуть организацию", class: 'btn btn-primary'%>
  <% end %>
</div>
