<div class="section text-center" id='organization_new'>
  <div class="navbar navbar-expand-lg bg-primary" style="margin-top: -150px; align-content: center">
    <div class="navbar-brand" style="align-content: center; padding-left: 10%">Создание организации</div>
  </div>

  <%= form_with model: @organization do |f| %>
    <div class="gallery">
      <img id="new-image" src="/assets/default_organization.jpg" alt="..." width="200" height="200" style="border-radius: 6px"/>
    </div>
    <div>
      <span class="btn btn-raised btn-round btn-default btn-file">
        <%= f.file_field :image, id: "gallery-photo-add", multiple: true, autocomplete: @organization.images.first %>
      </span>
    </div>
    <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
    </div>
    <div class='container'>
      <label for="name">Название</label>
      <%= f.text_field :name, class: "form-control"%>
      <br/>
      <label for="description">Описание</label>
      <%= f.text_area :description, class: "form-control"%>
    </div>
    <div class="container">
      <%= f.submit "Создать", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
  <%= javascript_pack_tag 'application' %>
